<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EasySorter Dashboard</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <h1>Welcome to EasySorter Dashboard </h1>
    <div>
        <a href="/users">View Users</a>
        <a href="/clothes">View Clothes</a>
        <a href="/books">View Books</a>
        <a href="/furnitures">View Furnitures</a>
    </div>
    
</body>
</html>